@model IEnumerable<Song>

@foreach (var song in Model)
{
    <div>
        <span class="text-muted pull-right">@song.Length</span>
        <span style="text-overflow:ellipsis; overflow:hidden">@song.Title</span>
    </div>
}